*{
	margin: 0;
	padding: 0;
	}

.input-box{
	width: 100%;
    background: whitesmoke;
    border: 1px solid #000;
    margin: 10px 0;
    height: 34px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #000;
}

.icon{
    margin-left: 10px;

}
#cards{
    width:1050px;
    margin: auto;
}

#modal{
    margin-left: 100px;
}

#modalend{
    margin-left: 220px;
}

#modalbegin{
    margin-left: 20px;
    font-size: 28px;
    font: bold;
}
#nav{
    position: relative;
    background-color: #dbe9f6;
    height: 65px;


}
.modal-header{
    background-color: #bdfeff;
}
#b{
    background-color: #1f273c;
}
#card1{
    margin-right: 100px;
}
.media-object{
    width: 90px;
}
.media-object1{
    width: 120px;
}
.media-object2{
    width: 45px;
    border-radius: 5px;
}
.media-object3{
    width: 90px;
    margin-left: 40px;
}
#button{
    background-color: #5d6469;
}
#rows{
    padding: auto;
    width:500px;
    border-radius: 10px;
    background-color: #dbe9f6;
}
.card-header{
    margin-top: 3px;
    height: auto;
}
#n{
    background-color: #dbe9f6;
    border-radius: 10px;
}
#row1{
    background-color: #dbe9f6;
    border-radius: 25px;

}
#rows1{
    /*padding: auto;*/
    width:650px;
    margin: auto;
    border-radius: 25px;
}
#row2{
    padding: auto;
    width:700px;
    border-radius: 25px;
    background-color: #dbe9f6;
}
#cards1{
    width:950px;
    margin: auto;
}

#rows2{
    padding: auto;
    width: 1000px;
    border-radius: 10px;
    background-color: #dbe9f6;
}